:root {
  --primary-color: #212529;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --color: hsl(243, 100%, 69%);
}

body {
  margin: 60px auto;
}

h1 {
  font-family: "Playfair Display", serif;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

main {
  margin-top: 80px;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}


p {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
}

.button a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.blue-button {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.center {
  text-align: center;
}

.top {
  margin-top: 60px;
}

.margin-bottom {
  margin-bottom: 40px;
}

@media (max-width: 576px) {
  .col-sm-6 .rounded {
    display: none;
  }

  h4 {
    text-align: center;
  }

  section {
    text-align: center;
  }

  .blue-button {
    display: block;
    text-align: center;
  }
}


